.header,
.hero,
.body,
.bar,
.footer {
    background-color: teal;
    margin-bottom: 10px;
}

.box {
    margin: 10px 0;
    height: 100px;
    background: #c94e63;
    font-size: 30px;
    color: white;
}

.lime {
    background: #482846;
}

.five {
    background-color: #3838d1;
}